  <md-card id="ad-card">
    <md-card-header>
      <img md-card-avatar class="header-image" src="{{ad.profile_img_url}}">
      <md-card-title style="margin-bottom:10px;">{{ad.title}}</md-card-title>
      <md-card-subtitle>Någon text här</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <div *ngIf="ad" fxLayout>
        <div fxFlex="70">
          <img *ngIf="ad.image_url" src="{{ad.image_url}}" style="width:100%">
          <p><b>Titeln</b></p>
          <p>Beskrivningen</p>
        </div>
        <div fxFlex="30">
          <md-list>
            <!--Title-->
            <md-list-item>
              <md-icon>title</md-icon>
              <p>Titeln</p>
            </md-list-item>
            <md-divider></md-divider>

            <!--Title-->
            <md-list-item>
              <md-icon>info</md-icon>
              <p>Beskrivningen</p>
            </md-list-item>
            <md-divider></md-divider>

            <!--Title-->
            <md-list-item>
              <md-icon>credit_card</md-icon>
              <p>Pris</p>
            </md-list-item>
            <md-divider></md-divider>

            <!--Title-->
            <md-list-item>
              <md-icon>local_florist</md-icon>
              <p>Arten</p>
            </md-list-item>
            <md-divider></md-divider>

            <!--Title-->
            <md-list-item>
              <md-icon>local_shipping</md-icon>
              <p>Fraktkostnad</p>
            </md-list-item>
          </md-list>
        </div>
      </div>
    </md-card-content>
  </md-card>
