  <md-card id="ad-card" *ngIf="ad">
      <div *ngIf="ad" fxLayout fxLayout.xs="column" fxLayoutWrap="true">
        <div fxFlex="70">
          <img *ngIf="ad.image_url" src="{{ad.image_url}}" style="width:100%">
        </div>
        <div fxFlex="30" style="padding:15px; position: relative;">
          <md-card-header>
            <img md-card-avatar class="header-image" src="{{ad.profile_img_url}}">
            <md-card-title style="margin-bottom:10px;">Namnet här</md-card-title>
            <md-card-subtitle>Platsen här</md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <p><b>Titeln här</b></p>
            <p> BeskrivningenBeskrivningen här Beskrivningen här Beskrivningen här Beskrivningen här Beskrivningen här</p>

              <!--Art-->
            <div class="info-row" fxLayout="row">
              <md-icon>local_florist</md-icon>
              <p>Arten</p>
            </div>

            <!--Price-->
            <div class="info-row" fxLayout="row">
              <md-icon>credit_card</md-icon>
              <p>Pris</p>
            </div>

            <!--Delivery cost-->
            <div class="info-row" fxLayout="row">
              <md-icon>local_shipping</md-icon>
              <p>Fraktkostnad</p>
            </div>

            <!--Bytes-->
            <div class="info-row" fxLayout="row">
              <md-icon>compare_arrows</md-icon>
              <p>Bytes</p>
            </div>
          </md-card-content>
          <md-card-footer>
            <md-icon>favorite_border</md-icon>
            <md-icon style="fill:red; color:red;">favorite</md-icon>
          </md-card-footer>
        </div>
      </div>
  </md-card>
