#center-div {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

#login-md-card{
  color:white;
}

.login-button-div{
  flex: 0 0;
}

#login-div {
  border:solid 1px black;
}

.login-button{
  padding:5px;
  width:300px;
}

form{
  color:black;
}

#lock {
  color:black;
  text-align: center;
  display: block;
  margin-top:20px;
}

#google{
  background: #ea4335 url('../../assets/images/google.svg') no-repeat 10px;
  background-size: 25px;
}
#facebook{
  background: #3b5998 url('../../assets/images/facebook.svg') no-repeat 10px;
  background-size: 25px;
  margin: 10px 0;
}

#email{
  background-image: url('../../assets/images/envelope.svg');
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 25px;
}

#sign-up{
  padding:5px;
  width:300px;
  background-image: url('../../assets/images/envelope.svg');
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 25px;
}

.divider {
  width:100%;
  text-align:center;
  color: black;
  margin: 20px 0;
}

.divider hr {
  margin-left:auto;
  margin-right:auto;
  width: 40%;

}

.left {
  float:left;
}

.right {
  float:right;
}

md-input-container {
  display:block;
}
/deep/ .mat-tab-label:focus{
  background-color: #ffffff !important;
}

/deep/ .mat-tab-body-content {
  overflow: hidden!important;
}
