<div id="center-login-div">
  <md-card id="login-md-card">
    <i id="lock" class="material-icons md-96">lock_outline</i>
    <div class="login-button-div">
      <button id="facebook" class="login-button" md-raised-button> Logga in med Facebook</button>
    </div>
    <div class="login-button-div">
      <button id="google" class="login-button" md-raised-button> Logga in med Google</button>
    </div>
    <div class="divider">
      <hr class="left"/><b style="color:#888888">ELLER</b><hr class="right" />
    </div>
    <div class="login-button-div">
      <button md-raised-button color="primary" id="email" class="login-button" > Logga in med Email</button>
    </div>
  </md-card>
</div>
