<span *ngIf="ads">
  <div class="col-md-3"  *ngFor="let ad of ads.reverse()" style="padding:0px; border: 5px solid transparent">
    <md-card class="ad-card"  class="ripplelink" [routerLink]="['/annons/'+ ad.$key]" style="width:100%; padding:12px; margin:0px;">
      <md-card-header>
        <img md-card-avatar class="header-image" src="{{ad.profile_img_url}}">
        <md-card-title style="margin-bottom:10px;">{{ad.title}}</md-card-title>
        <md-card-subtitle>{{ad.name}}</md-card-subtitle>
      </md-card-header>
      <div [ngStyle]="{'background-image': 'url(' + ad.image_url + ')'}"
           style="width:100%; padding-bottom:100%;
           background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;"></div>
    </md-card>
  </div>
</span>
